-f https://download.pytorch.org/whl/torch_stable.html
easyocr @ git+https://github.com/Plyrs1/EasyOCR.git@551abd53ccdb1e428ffa0d785cbcb8f44837085b
fastapi==0.75.1
gunicorn==20.1.0
httpx==0.24.1
python-multipart==0.0.5
torch==1.11.0+cpu
torchvision==0.12.0+cpu
uvicorn==0.17.6
